body{
    margin: 0%;
    background: url(Background.jpg);

}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
    font-size: 225%;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(240, 29%, 6%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 50px;
    display: grid;
    text-align: center;
}
.navbar a:hover{
    background-color: rgba(29, 29, 199, 0.885);
    color: rgb(107, 226, 43);
    
}
.navbar li{
    float: left
}